[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
sqlalchemy = "*"
flask-caching = "*"
python-dotenv = "*"
pydantic = "*"
alembic = "*"
psycopg2 = "*"
flask-login = "*"
pytest = "*"
werkzeug = "*"

[dev-packages]

[requires]
python_version = "3.9"
